In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.set_style("darkgrid") #у графиков будет красивая серая подложка

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Task 2: основные операции**

Мы уверены: вы хорошо понимаете, что функциональные возможности библиотеки Pandas этим не ограничиваются. Давайте узнаем побольше о том, для решения каких еще задач можно использовать эту библиотеку.

В этом упражнении вы будете работать с тем же самым логом посещения пользователей страницы, включая их временные метки.

**1. Создайте датафрейм под названием views с двумя столбцами datetime и user, считав тот же самый файл feed-views.log.**
*   Преобразуйте datetime в datetime64[ns] Dtype;
*   Извлеките год, месяц, день, час, минуты и секунды из значений этого столбца в новые столбцы.

In [13]:
views = pd.read_csv(
    '/content/drive/MyDrive/Школа 21/DS_project10-0/Task 1/feed-views.log',
    sep='\t',
    engine='python',
    header=None,
    names=['datetime', 'user'],
    ) 
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [14]:
views.dtypes

datetime    object
user        object
dtype: object

In [15]:
views = views.astype({'datetime': 'datetime64[ns]'}) # преобразование datetime в datetime64

In [16]:
views.dtypes

datetime    datetime64[ns]
user                object
dtype: object

In [18]:
# извлечение года, месяца, дня, часа, минут и секунд из значений столбца в новые столбцы
views['year'] = views.datetime.dt.year 
views['month'] = views.datetime.dt.month
views['day'] = views.datetime.dt.day
views['hour'] = views.datetime.dt.hour
views['minute'] = views.datetime.dt.minute
views['second'] = views.datetime.dt.second

In [19]:
views

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

**2. Создайте новый столбец daytime.**
*   Переведите время в название части суток: если значение часа находится в рамках определенного интервала. Например, afternoon, если значение часа больше 11 и меньше или равно 17;
0:00–03:59 — night, 04:00–06:59 — early morning, 07:00–10:59 — morning, 11:00–16:59 — afternoon, 17:00–19:59 — early evening, 20:00–23:59 — evening.
*   Используйте метод cut для решения этой подзадачи;
*   Назначьте столбец user в качестве индекса.

In [20]:
views['daytime'] = pd.cut(views.hour,
                          bins=[0,4,7,11,17,20,24],
                          labels=['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening'],
                          right=False)
views

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

In [21]:
views.set_index('user', drop=True, inplace=True)
views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

**3.Подсчитайте количество элементов в вашем датафрейме.**
*   Используйте метод count();
*   Подсчитайте количество элементов в каждой категории частей суток, используя метод value_counts().

In [22]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [23]:
views.daytime.value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

**4. Отсортируйте значения в вашем датафрейме по часам, минутам и секундам в порядке возрастания (в рамках одной команды, а не по очереди).**

In [24]:
views.sort_values(by=['hour', 'minute', 'second'], inplace=True)
views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

**5. Рассчитайте минимальное и максимальное значения среди значений часов и моду для категорий частей суток.**
*   Рассчитайте максимальное значение среди значений часов для строк, в которых время суток — night;
*   рассчитайте минимальное значение среди значений часов для строк, в которых время суток — morning;
*   В дополнение к этому, выясните, кто посещал страницу в эти часы (подготовьте первого пользователя в выборке);
*   Рассчитайте моду для hour и daytime.

In [25]:
views.query('daytime == "night"').hour

user
valentina     0
valentina     0
pavel         0
pavel         0
pavel         0
             ..
pavel         1
konstantin    2
konstantin    3
konstantin    3
konstantin    3
Name: hour, Length: 129, dtype: int64

In [26]:
views.query('daytime == "night"').hour.max()

3

In [27]:
# рассчет минимального значения среди значений часов для строк, в которых время суток — morning
views.query('daytime == "morning"').hour

user
alexander      8
alexander      8
alexander      9
konstantin     9
anatoliy       9
anatoliy       9
anatoliy       9
artem          9
anatoliy       9
maxim          9
konstantin    10
maxim         10
maxim         10
maxim         10
maxim         10
artem         10
konstantin    10
konstantin    10
konstantin    10
konstantin    10
artem         10
ekaterina     10
ekaterina     10
konstantin    10
konstantin    10
konstantin    10
aleksey       10
artem         10
konstantin    10
ekaterina     10
anatoliy      10
konstantin    10
maxim         10
maxim         10
konstantin    10
konstantin    10
Name: hour, dtype: int64

In [28]:
views.query('daytime == "morning"').hour.min()

8

In [29]:
# кто посещал страницу в эти часы (подготовьте первого пользователя в выборке)
max_night_hour = views.query('daytime == "night"').hour.max()
min_morning_hour = views.query('daytime == "morning"').hour.min()
views.query('hour == @max_night_hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [30]:
views.query('hour == @min_morning_hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

In [31]:
# рассчет моды для hour и daytime
views.hour.value_counts().index[0]

22

In [32]:
views.daytime.value_counts().index[0]

'evening'

**6. Отобразите 3 самых ранних часа утром вместе с соответствующими именами пользователей, а также 3 самых поздних часа и имена пользователей с помощью nsmallest() и nlargest().**

In [33]:
views.nsmallest(3, 'hour', keep='first')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night

In [34]:
views.nlargest(3, 'hour', keep='first')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
ekaterina,2020-05-14 23:02:11.327532,2020,5,14,23,2,11,evening
ekaterina,2020-05-14 23:02:14.494985,2020,5,14,23,2,14,evening
ekaterina,2020-05-14 23:02:15.588808,2020,5,14,23,2,15,evening

**7. Используйте метод describe(), чтобы получить базовую статистику по столбцам.**

Дополнительно определите самый популярный интервал посещения страницы: вычислите интерквартильный диапазон для часа путем извлечения значений из результата метода describe() и сохраните полученные данные в переменной iqr.

In [35]:
views.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [36]:
iqr = views.describe().loc['75%', 'hour'] - views.describe().loc['25%', 'hour']
iqr

9.0